<h2> Course List </h2>

<div class="form-group row">
    <label for="" class="col-sm-2 col-form-label">Filter By</label>
    <div class="col-sm-10">
        <input type="text" [(ngModel)]="filter" class="form-control">
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Duration</th>
            <th>Code</th>
            <th>Release Date</th>
            <th>Rating</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses"> <!--*ngFor é uma sintaxe do Angular para fazer iteração dos elementos, nesse caso, dos cursos -->
            <td>{{ course.id }}</td>
            <td><img [src]="course.imgUrl" width='35' alt="course img"></td>
            <td>{{ course.name }}</td>
            <td>{{ course.price }}</td>
            <td>{{ course.duration }}</td>
            <td>{{ course.code | lowercase | replace:'-': ' '}}</td> <!-- "|" indica um pipe para alteração no front-end, nesse caso, é um pipe nativo do Angular, de lowercase. O segundo pipe foi criado em ../pipe/replace.pipe.ts para alterar o '-' por um espaço (' ')-->
            <td>{{ course.releaseDate | date: 'yyyy.MM.dd' }}</td> <!-- Os Pipes servem para trazer funções no HTML para alteração do front. No caso,com a notação de: Dia: dd, Mês: MM, e Ano: yyyy ou YYYY-->
            <td>
                <app-star [rating]="course.rating"></app-star>
            </td>
            <td>
                <a [routerLink]="['/courses/edit', course.id]" class="btn btn-primary">Edit</a> <!--Os parâmetros do routerLink são os seguintes: A rota que será usada, e depois o parâmetro que será inserido na rota, no caso o Course ID.-->
            </td>
        </tr>
    </tbody>
</table>
